// Variables 



// Color Pallette 

$primary-color: #FFFFFF;
$secondary-color: #EEEEEE;
$tertiary-color: #616161;
$quaternary-color: #990000;
$quinary-color: #FF5030;
$senary-color: #D30000;

$bx-sh:  rgba(0, 0, 0, 0.16);

$border: 1px solid #616161;


// Font Size Mobile 

$navFont: 32px;
$title: 89px;
$sub-title: 44px;
$copy: 12px;
$action: 13px;
$prodTitle: 31px;
$btnAction: 10px;